<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Gestao | SACT</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">
    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js" integrity="sha512-odNmoc1XJy5x1TMVMdC7EMs3IVdItLPlCeL5vSUPN2llYKMJ2eByTTAIiiuqLg+GdNr9hF6z81p27DArRFKT7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
   
  </head>

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">

      <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
          <img src="assets/img/logo.png" alt="">
          <span class="d-none d-lg-block">SACT</span>
        </a>
        <i class="bi bi-list toggle-sidebar-btn"></i>
      </div><!-- End Logo -->

      <div class="search-bar">
        <form class="search-form d-flex align-items-center" method="POST"
          action="#">
          <input type="text" name="query" placeholder="Search" title="Enter
            search keyword">
          <button type="submit" title="Search"><i class="bi bi-search"></i></button>
        </form>
      </div><!-- End Search Bar -->

      <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">

          <li class="nav-item d-block d-lg-none">
            <a class="nav-link nav-icon search-bar-toggle"href="#">
              <i class="bi bi-search"></i>
            </a>
          </li><!-- End Search Icon-->


          <li class="nav-item dropdown pe-3">

            <a class="nav-link nav-profile d-flex align-items-center pe-0"
              href="#" data-bs-toggle="dropdown">
              <img src="assets/img/profile-img.jpg" alt="Profile"
                class="rounded-circle">
              <span class="d-none d-md-block ps-2">Kazembe</span>
            </a><!-- End Profile Iamge Icon -->

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow
              profile">
              <li>
                <a class="dropdown-item d-flex align-items-center"
                  href="users-profile.html">
                  <i class="bi bi-person"></i>
                  <!-- <span>Meu Perfil</span> -->
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <i class="bi bi-box-arrow-right"></i>
                  <span>Sair</span>
                </a>
              </li>

            </ul><!-- End Profile Dropdown Items -->
          </li><!-- End Profile Nav -->

        </ul>
      </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">

      <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
          <a class="nav-link collapsed" href="index.html">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li><!-- End Dashboard Nav -->

        <li class="nav-item">
          <a class="nav-link"data-bs-target="#forms-nav"
            data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Gestao:</span><i class="bi
              bi-chevron-down ms-auto"></i>
          </a>
          <ul id="forms-nav" class="nav-content collapse show"
            data-bs-parent="#sidebar-nav">
            <li>
              <a href="alocacoes.html" class="">
                <i class="bi bi-circle"></i><span>Alocacoes</span>
              </a>
            </li>
            <li>
              <a href="Admin.html" class="">
                <i class="bi bi-circle"></i><span>Trabalhador</span>
              </a>
            </li>
            <li>
              <a href="Admin.html">
                <i class="bi bi-circle"></i><span>Obra</span>
              </a>
            </li>

            <li>
              <a href="Admin.html" class="">
                <i class="bi bi-circle"></i><span>Actividade</span>
              </a>
            </li>
          </ul>
        </li><!-- End Forms Nav -->

      </ul>

    </aside><!-- End Sidebar-->

    <main id="main" class="main">
      <!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-12">

            <div class="card" id="areaAlocacão" >
              <div class="card-body">
                <h5 class="card-title">Alocar Trabalhador a actividade</h5>

                <!-- Alocações -->
                <form class="row g-3">
                  <div class="col-md-12">
                    <label for="" class="form-label">Nome do trabalhador</label>
                    <select id="" class="form-select">
                      <option selected>António Arlindo Banze </option>
                      <option>Jose Jaime Matsimbe</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="" class="form-label">Especialidade</label>
                    <select id="listaEspecialidade" class="form-select">
                      <option selected>Eletrecista</option>
                      <option>Canalizador</option>
                      <option>Pedreiro</option>
                      <option>Informatico</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="" class="form-label">Experiencia</label>
                    <select id="listaExperiencia" class="form-select">
                      <option selected>Junior</option>
                      <option>Pleno</option>
                      <option>Senior</option>
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="" class="form-label">Actividade</label>
                    <select id="listaActividades" class="form-select">
                    </select>
                  </div>
                  <div class="col-md-6">
                    <label for="" class="form-label">Obra</label>
                    <input type="text" id="obraAssociada" class="form-control" disabled="disabled">
                  
                  </div>
                 
                  <div class="col-3">
                    <label for="" class="form-label">Data do Inicio</label>
                    <div class="inputState">
                      <input type="text" class="form-control" disabled="disabled" id="dataInicioAfetacao" >
                    </div>
                  </div>
                  <div class="col-3">
                    <label for="" class="form-label">Hora </label>
                    <div class="inputState">
                      <input type="text" class="form-control" id="horaInicioAfetacao" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-3">
                    <label for="" class="form-label">Data do termino</label>
                    <div class="inputState">
                      <input type="text" class="form-control" id="dataFimAfetacao" disabled="disabled">
                    </div>
                  </div>
                  <div class="col-3">
                    <label for="" class="form-label">Hora</label>
                    <div class="inputState">
                      <input type="text" class="form-control" id="horaFimAfetacao" disabled="disabled">
                    </div>
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary" id="">Alocar</button>
                    <button type="reset" class="btn btn-secondary">Limpar todos campos</button>
                  </div>
  
                </form><!-- End Multi Columns Form -->

              </div>
            </div>

          </div>
        </div>
      </section>


    </main><!-- End #main -->

    <!-- ======= Footer ======= -->


    <a href="#" class="back-to-top d-flex align-items-center
      justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.min.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.min.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="connection.js"></script>
  </body>

</html>